{
	"version" : "0.1.3.4",
	"changelog" : "
^orange;-----     0.1.3.4TB     -----^reset;
- New seasonal event, The Great Carrot Harvest! (1st part)
- New Xenonian colors and beam colors (Musty)
^orange;-----     0.1.3.3     -----^reset;
- More seed recipes for seed germination lab
- Fixed a customization option's name for Xenonians
- Fixed radiomessages for germination table. You will no longer see the message each time you pick it up now.
- Recipe balances
- New Xenonian SFX
- Sprite pretty-ification (Musty)
For the interest of devs only:
- Moved around files for better organization
New, currently unobtainable/unplayable/unencounterable additions:
- DNA samples
- Swarmers
- LORE
- Nuclear cores
- Limbo teleporter
- Limbo ghosts
- Nightmaric concentrate
- ... Edible plates. Dunno where Vetpetmon is going with this.
^orange;-----     0.1.3.2     -----^reset;
- Added Ztarbound support
- More canned foods
- New crops
- Plant germination table
- Early-game UC and vanilla crops can now be purchased at Terramart.
- Nerfed mustard seeds' pixel value. (75 to 15)
- Nerfed crop harvests.
- Mass image optimization to reduce lag (Lost 610.34 KB of unneeded jumbled pixel code mess!)
- I'm not British. Fixed \"colour\" mentions.
- Removed rice from canning recipes.
- Added beets.
- Made electric stunlock less forgiving and more forgiving at the same time
For the interest of devs only:
- Moved around files for better organization
- Cleared out useless comments (size difference is not noticable)
New, currently unobtainable additions:
- Swarmers
- Spray can weapon types
- Codices (lore)
  ",
	"welcome" : "Thanks for playing UC! Your feedback is highly appreciated, and so are the contributions!

^green;Umbral Coalition^reset; is a story that adds onto Starbound's.

^orange;Head over to the Umbral Coalition discord and meet the^reset; ^green;mad scientist^reset; ^orange;who made UC!^reset;
^green;Discord invite code:^reset; 3BDGDdR
  ",
	"credits" : "-----
CREDITS FOR THOSE WHO HAVE WORKED ON AND HELPED WITH THE DEVELOPMENT OF UMBRAL COALITION
-----

  Contributors and devs:

Vetpetmon - Too much to list. The largest contributor to the AU and the mod.
Musty - Artwork, lore, and code.
Opaque - Lore and sprites
Hubnester - Programming
Rain - Lore
ZimberZimber - Made Ztarbound.
Shinigami Apples - Sprites for objects and weapons, code for objects.
Valo - Sprited Tungsten Handlegun
TankSlayer2 - Made some of the concepts for GFOW that were migrated to here.
Arcticcloud - Lore
Sky - Sprited the Candy Corn Assault Rifle, Candy knife, and Gumball MACHINE-gun.
Slugbait - Kyroxian Seed Germination Station sprite

	Testers:
Slugbait
Vetpetmon
TankSlayer2
(PLEASE contact Vetpetmon if you have tested UC's git build and your name is not on here!)

[The full credits page can be found in ^orange;credits.txt^reset; of the Github repository, or in the mod's files.]
  ",
	"info" : "Thanks for playing UC! Your feedback is highly appreciated, and so are the contributions!

^green;Umbral Coalition^reset; is a story that adds onto Starbound's.

^orange;Head over to the Umbral Coalition discord and meet the^reset; ^green;mad scientist^reset; ^orange;who made UC!^reset;
^green;Discord invite code:^reset; 3BDGDdR
  "
}
