{
	"version" : "0.1.4.7",
	"changelog" : "
^orange;-----     0.1.4.7    -----^reset;
- Fixed wild strawberry crop
- Made The Ruin significantly harder to defeat.
- Added some weapons to normal chest spawns.
- Added Protectorate weapon tooltips.
- Tweaked crop harvest outputs.
- Added 4 new Roblocorp weapons.
^orange;-----     0.1.4.6    -----^reset;
- Added ABC files for Carl's and SNAZ OS's theme.
- Added new GUI changes based on a weapon's manufacturer. (WIP)
- Added The Marsc (You'll need a new Xenonian character to get this!)
- Added Starbringer.
- Added tungsten LMG (Valo)
- Added three new music tracks.
- Added rad'ion matter libraries.
- Added new descriptions for unstable terrestrials.
- Overhauled xenonian color options (Only affects new characters.)
- Migrated FR stats for xenonians into UC
- Reorganized music player's (FU/SB) UC music list to be alphabetical.
- Buffed most, if not all, UC monsters.
- WELCOME TO FLORIDA.
- Corrected vanilla sprite error with Special Rice.
- Tweaked rad'ion stats (FINAL)
- Recipe tweaks
- Updated title on update window. Now you can see it. Praise Thirran.
- Sprite overhauls
- Modified plasma blocks
^orange;-----     0.1.4.5    -----^reset;
- HOTFIXES
- WIP: added gamma ray bursts.
- Added enough rad'ion reactor styles to make there be 100 different reactor styles. You're welcome~
- Changed xenonian sprites.
- Added more rad'ion lights.
- Added yei, xox, and rox.
- Adjusted rad'ion stats.
- Trimmed versioning config.
- Fixed #00035: UC's poptops not playing audio when in singing status.
- Fixed #00036: Rad'ions move far too fast, about 2 times the speed of a normal humanoid.
- Fixed #00037: Empty cans are uncraftable.
- Fixed #00038: Canned junk food is uncraftable.
- Fixed #00039: Tiny rad'ion lamp light position is two blocks above of it.
^green;-- Kaisa-Serian: --^reset;
- Added 1 new human hair style
^orange;-----     0.1.4.4    -----^reset;
- Compressed image files (sorry for not doing this the last update!)
- Added more rad'ion reactor options.
- Added rad'ion lights and tables
- Added more rad'ion doors.
^orange;-----     0.1.4.3    -----^reset;
- Overhauled many object and weapon sprites.
- Added rad'ion fridges.
- Added mustard condiment.
- Tweaked rad'ion racial stats.
- Fixed #00034: fullbright not working on rad'ion furniture crafting station.
- Rad'ion object descriptions.
- More rad'ion color options.
- Added more rad'ion reactor options.
^orange;-----     0.1.4.2    -----^reset;
- Vet goes feral and only makes doors for this update THE MOVIE. 4K HD, FOR ONLY $5.99! BUY NOW!
- YOU GET TO SEE MY FACE FOR ONLY $5.99! YES, THAT'S RIGHT, YOU GET TO SEE MY FACE FOR ONLY $5.99!
- AND THAT'S NOT ALL! CALL WITHIN 45 MINUTES TO GET RAD'ION CRAFTING STATIONS FOR FREE!
^orange;-----     0.1.4.1    -----^reset;
- Added plasma
- Added Impermeable Plasma blocks
- Added weapon parts
- Added the Rad'ion
- More poptops! Yay!
- Image optimizations
^orange;-----     0.1.4    -----^reset;
- Added Crimsontops and Dark Radtops
- Added Energy packs
- Added hostile alternatives to certain planets
- Added Unstable Terrestrial planets
- Added solar flare, heatwave, and cold snap weather events
- Added ZB music player support
- Complete assets reorganization. Should be less endless mess for future devs and contributors.
- Bugfixes
^green;-- Endertrot: --^reset;
- Added Candy Bricks
",
	"welcome" : "Thanks for playing UC! Your feedback is highly appreciated, and so are the contributions!

^green;Umbral Coalition^reset; is a story that adds onto Starbound's.

^orange;Head over to the Umbral Coalition discord and meet the community that made UC!^reset;
^green;Discord invite code:^reset; 3BDGDdR
  ",
	"credits" : "
Thirran (Vetpetmon Labs' project manager and lead dev & artist)
Must
Kaisa Serian
Hubnester
ZimberZimber
Inferus[RF]
Shinigami Apples
Valo
TankSlayer2
Arcticcloud
Sky
Slugbait
Endertrot

(*PLEASE* contact Vetpetmon labs if you have directly contributed to UC but your name hasn't been put up here yet!)

[The full credits page (which includes GitHub build testers) can be found in ^orange;credits.txt^reset; of the Github repository, or in the mod's files.]
  ",
"info" : "Thanks for playing UC! Your feedback is highly appreciated, and so are the contributions!

^green;Umbral Coalition^reset; is a story that adds onto Starbound's.

^orange;Head over to the Umbral Coalition discord and meet the community that made UC!^reset;
^green;Discord invite code:^reset; 3BDGDdR
"
}
