{
	"version" : "0.1.5",
	"changelog" : "
NOTICE: I, Thirran, the main dev of this mod, has moved onto turning Umbral Coalition into it's own game! A link to the official homepage will be posted sometime soon, but for now, news on that is found in the official Vetpetmon Labs Discord server. This does not mean development on the mod is over, but updates will be slower. Stay safe this summer, my friends!

v0.1.5, the Biomes update, is next! ETA will be mid-summer, 2020.

^orange;-----     0.1.5      -----^reset;
- Added a WIDE range of color hues for UC planets, including hostile alts.
- Bugfixes
^orange;-----     0.1.4.9    -----^reset;
- 37 more rad'ion reactor options.
- More rad'ion color options.
- Audio updates. Some things that should be louder are now louder.
- Fixed important radiomessages not being unique because people keep not reading them for some reason.
- Slowed down rot rates in Matter Libraries to 0.
- Ended the Great Carrot Harvest event.
- Lowered gamma ray burst chances out of request. Also, they are much shorter weather-wise.
- Added new weather for moons + peaceful moons.
- Added information on racial bonuses on Xenonians and Rad'ions.
- Made GRB decay time shorter.
- UI fixes and improvements.
- Rad'ion recipes use less plasma. You're welcome.
- CODICES! THAT NOW SPAWN RANDOMLY!
- a bunch of other changes im not listing because Ztarbound will lag if I stick too much here
^orange;-----     0.1.4.8    -----^reset;
- Added Rad'ion recipe unlocker. Event-only at the moment.
- Some more rad'ion furniture.
- Typo and grammar fixes.
- Re-enabled gamma ray bursts on unstable terrestrials.
- Made rad'ion recipes more complex.
- Brought back the Great Carrot Harvest event!
- Updated Derrot.
- Added the Forbidden Dough.
- Modified Hostile Planets to now affect player characters.
- Buffed The Ruin out of not-so popular request. Have fun! :D
- Fixed matter libraries having platform collisions.
- Corrections in descriptions.
^orange;-----     0.1.4.7    -----^reset;
- Added new rad'ion info codices.
- Added new colors for night vision effects.
- Added some weapons to normal chest spawns.
- Added more to the weapon tooltip GUI overhaul.
- Added 4 new Roblocorp weapons.
- Compressed files! You're welcome!
- Made The Ruin significantly harder to defeat.
- Improved some Limbo ghost sprites
- Fixed wild strawberry crop droping PGI when destroyed.
- Tweaked crop harvest outputs.
- Typo fixes.
- Disabled GRBs for now. Thirran bets they're breaking weather for moons and unstable terrestrials.
- To devs and contributors: Reorganized some directories for weapons to be organized by type and brand.

Reminder to all of our users, contributors, testers, and devs: I Love you all, and have a great 2020!   -Thirran, Lead Dev of Umbral Coalition

^orange;-----     0.1.4.6    -----^reset;
- Added ABC files for Carl's and SNAZ OS's theme.
- Added new GUI changes based on a weapon's manufacturer. (WIP)
- Added The Marsc (You'll need a new Xenonian character to get this!)
- Added Starbringer.
- Added tungsten LMG (Valo)
- Added three new music tracks.
- Added rad'ion matter libraries.
- Added new descriptions for unstable terrestrials.
- Overhauled xenonian color options (Only affects new characters.)
- Migrated FR stats for xenonians into UC
- Reorganized music player's (FU/SB) UC music list to be alphabetical.
- Buffed most, if not all, UC monsters.
- WELCOME TO FLORIDA.
- Corrected vanilla sprite error with Special Rice.
- Tweaked rad'ion stats (FINAL)
- Recipe tweaks
- Updated title on update window. Now you can see it. Praise Thirran.
- Sprite overhauls
- Modified plasma blocks
^orange;-----     0.1.4.5    -----^reset;
- HOTFIXES
- WIP: added gamma ray bursts.
- Added enough rad'ion reactor styles to make there be 100 different reactor styles. You're welcome~
- Changed xenonian sprites.
- Added more rad'ion lights.
- Added yei, xox, and rox.
- Adjusted rad'ion stats.
- Trimmed versioning config.
- Fixed #00035: UC's poptops not playing audio when in singing status.
- Fixed #00036: Rad'ions move far too fast, about 2 times the speed of a normal humanoid.
- Fixed #00037: Empty cans are uncraftable.
- Fixed #00038: Canned junk food is uncraftable.
- Fixed #00039: Tiny rad'ion lamp light position is two blocks above of it.
^green;-- Kaisa-Serian: --^reset;
- Added 1 new human hair style
^orange;-----     0.1.4.4    -----^reset;
- Compressed image files (sorry for not doing this the last update!)
- Added more rad'ion reactor options.
- Added rad'ion lights and tables
- Added more rad'ion doors.",
	"welcome" : "Thanks for playing UC! Your feedback is highly appreciated, and so are the contributions!

^green;Umbral Coalition^reset; is a story that adds onto Starbound's.

^orange;Head over to the Vetpetmon Labs discord and meet the community that made UC!^reset;
^green;Discord invite code:^reset; HUJ7Exs
  ",
	"credits" : "
Thirran (Vetpetmon Labs' project manager and lead dev & artist)
Must
Kaisa Serian
Hubnester
ZimberZimber
Inferus[RF]
Shinigami Apples
Valo
TankSlayer2
Arcticcloud
Sky
Slugbait
Endertrot

(*PLEASE* contact Thirran (Project Manager) if you have directly contributed to UC but your name hasn't been put up here yet!)

[The full credits page (which includes GitHub build testers) can be found in ^orange;credits.txt^reset; of the Github repository, or in the mod's files.]
  ",
"info" : "Thanks for playing UC! Your feedback is highly appreciated, and so are the contributions!

^green;Umbral Coalition^reset; is a mod that adds onto Starbound's content based off of Thirran's Umbral Coalition series. This mod is completely independent from the game itself.

We're always open to contributions and help! Our GitHub repository lies here: https://github.com/Vetpetmon-Labs/Umbral-Coalition

^orange;Head over to the Vetpetmon Labs discord and meet the community that made the UC mod!^reset;
^green;Discord invite code:^reset; HUJ7Exs
"
}
