{
	"##album_icons##" : {
		"Umbral Coalition" : "/interface/scripted/fm_musicplayer/UCcoverimage.png"
	},
	"Umbral Coalition" : [
		{
			"name" : "Wasteland Exploration",
			"directory" : "/music/Musty-Wasteland_Exploration.ogg"
		},
		{
			"name" : "Limbo Market",
			"directory" : "/music/limbo-market.ogg"
		},
		{
			"name" : "Limbo Temple",
			"directory" : "/music/limbo-temple.ogg"
		},
		{
			"name" : "DOP Normal",
			"directory" : "/music/DEVourer-of-Plates-normal.ogg"
		},
		{
			"name" : "DOP Enraged",
			"directory" : "/music/DEVourer-of-Plates-enraged.ogg"
		},
    {
			"name" : "Impending Destruction of the Universe",
			"directory" : "/music/Impending-Destruction-of-the-Universe.ogg"
		},
		{
			"name" : "Pandora's Opened Box",
			"directory" : "/music/PANDORAS-OPENED-BOX.ogg"
		}
	]
}
