{
  "greeting" : {
    "default" : {
      "default" : [
        "Hi.",
        "Welcome!",
        "Hello."
      ]
    }
  },
  "converse" : {
    "default" : {
      "default" : [
        "Who're you?",
        "Do you have a Toxifier 2200 here? The air's too clean for me."
      ],
      "xenonian" : [
        "Do you have a Toxifier 2200 here? The air's too clean here.",
        "I "
      ],
      "webber" : [
        "Is your mouth perpetually open like that?",
        "You're a weird little thing... Where did you come from?",
        "I feel sorry for the loss of your homeworld's surface.",
        "What's breadon? I heard it's famous among the trade market."
      ],
      "candavaswebber" : [
        "I-I'm sorry, what?",
        "I do not carry a translator on me, sorry.",
        "I'm sorry, my translator can't translate Blepeggis."
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Hey! That's mine!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "I'm calling the police!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something's missing here...",
        "Where was that? I swore I put it here..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "What's a shelter when it doesn't serve it's purpose?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "This is my home!",
        "No, this is my home!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I'm about to head back to Xen-789.",
        "Fix this, or I'm leaving."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I'm heading back to the homeworld."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Yes?",
        "How may I help you?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's something for you."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Get them!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "Help! I'm under attack!",
        "I'm just a civilian, please spare me!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Don't worry, I'm getting help!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Go! Go! Go!",
        "Nothing stands a chance!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Phew, safe at last!",
        "I got out of there, alive!"
      ]
    }
  }
}
