{
  "greeting" : {
    "default" : {
      "default" : [
        "Hi.",
        "Welcome!",
        "Hello."
      ]
    }
  },
  "converse" : {
    "default" : {
      "default" : [
        "Hello.",
        "Who're you?",
        "I'm sorry about the loss of your space-faring nation."
      ],
      "radion" : [
        "Who're you?",
        "What're you?",
        "If you're so \"biologically superior,\" then why do your species only live for 200 years?",
        "If you're so \"biologically superior,\" then why are you so prone to temperature changes?",
        "I wonder what it's like being someone else...",
        "I wonder what it's like to be someone else...",
        "What is your homeworld like? Is it even real?",
        "You're one of those impersonators, right?",
        "Are you a spy?"
      ],
      "xenonian" : [
        "Hey.",
        "Do you have a Toxifier 2200 here? The air's too clean here.",
        "I wonder what happened to the Protectorate.",
        "Are you sure you're not a rad'ion?",
        "The Head Department of the Umbral Coalition said not to panic about the center of the galaxy... What even is there to panic about?"
      ],
      "webber" : [
        "Is your mouth perpetually open like that?",
        "You're a weird little thing... Where did you come from?",
        "I feel sorry for the loss of your homeworld's surface.",
        "What's breadon? I heard it's famous among the trade market."
      ],
      "candavaswebber" : [
        "I-I'm sorry, what?",
        "I do not carry a translator on me, sorry.",
        "I'm sorry, my translator can't translate Blepeggis."
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Hey! That's mine!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "I'm calling the officers!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something's missing here...",
        "Where was that? I swore I put it here..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "What's a shelter when it doesn't serve it's purpose?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "This is my home!",
        "No, this is my home!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I'm about to head back to Xen-789.",
        "Fix this, or I'm leaving."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I'm heading back home."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Yes?",
        "How may I help you?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's something for you."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Get them!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "Help! I'm under attack!",
        "I'm just a civilian, please spare me!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Don't worry, I'm getting help!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Go! Go! Go!",
        "Nothing stands a chance!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Phew, safe at last!",
        "I got out of there, alive!"
      ]
    }
  }
}
