{
  "greeting" : {
    "default" : {
      "default" : [
        "Hi.",
        "Welcome!",
        "Hello."
      ]
    }
  },
  "converse" : {
    "default" : {
      "default" : [
        "Hello.",
        "Who're you?",
        "I am good at my job. Totally. Trust me.",
        "Are you sure you're not a rad'ion?",
        "The coalition mentioned some sort of Big Bad Borg residing in this galaxy. I'd be careful out there if I were you.",
        "Poptops are dangerously adorable. If you're keeping them as pets, keep them away from H20.",
        "You know those dimensional nodes? I always wondered what resides on the other side...",
        "The coalition's purpose is to document the universe and monitor the contents of it.",
        "I'm sorry about the loss of your space-faring nation."
      ],
      "human" : [
        "So, about your homeworld... Was it true that your kind was the one to pollute it for us?",
        "Earth has been destroyed? Dangit! Now, we'll never know the answer to life, the universe, and everything!",
        "I am good at my job. Totally. Trust me.",
        "Are you sure you're not a rad'ion?",
        "The coalition's purpose is to document the universe and monitor the contents of it.",
        "The coalition mentioned some sort of Big Bad Borg residing in this galaxy. I'd be careful out there if I were you.",
        "Poptops are dangerously adorable. If you're keeping them as pets, keep them away from H20.",
        "Don't trust the rad'ion, human. Just because some members are peaceful doesn't mean their entire homeworld is.",
        "Is the zombie plague actually real on your homeworld? Oh, it's just fictional?",
        "I'm not supposed to talk about this, but... Where's the petri dishes?",
        "How much toxic substances come from cattle farts? Sorry about the weirdness, I'm just doing a research project.",
        "How lucky you must be, chosen by one of The Great Powers of SNAZ OS!",
        "We're not that much different, we have quite a few things in common..."
      ],
      "radion" : [
        "Who're you?",
        "What're you?",
        "It's strange seeing a rad'ion in person without getting radiation poisoning.",
        "I wonder what it's like being someone else...",
        "The history of your kind never gets released, why is that?",
        "I wonder what it's like to be someone else...",
        "What is your homeworld like? Is it even real?",
        "I am good at my job. Totally. Trust me.",
        "You must be new in the Umbral Coalition, rad'ions weren't a part of the coalition until the Incident! Yes, THAT incident.",
        "Is it true that you can turn yourself into a fictional character? Can you turn yourself into a sapient pastry?",
        "The coalition mentioned some sort of Big Bad Borg residing in this galaxy. I'd be careful out there if I were you.",
        "Is it true that you can turn yourself into a fictional character? Can you turn yourself into a recon robot?",
        "Is it true that you can turn yourself into a fictional character? Can you turn yourself into a zombie?",
        "You're one of those impersonators, right?",
        "I find it weird that you all never close your eyes and feign sleep.",
        "Are you a spy?"
      ],
      "xenonian" : [
        "Hey.",
        "Do you have a Toxifier 2200 here? The air's too clean here.",
        "The coalition mentioned some sort of Big Bad Borg residing in this galaxy. I'd be careful out there if I were you.",
        "You know those dimensional nodes? I always wondered what resides on the other side...",
        "Poptops are dangerously adorable. If you're keeping them as pets, keep them away from H20.",
        "Humans are a curious species. I heard that they were the ones chosen by Vetpetmon herself.",
        "One of the most recent discoveries made by the coalition were sapient pastries! Wait, what do you mean \"They're rad'ions?\" ",
        "Do you ever think about the saying \"Don't Panic?\" Well, neither do I.",
        "I wonder what happened to the Protectorate.",
        "All I know about the Protectorate is that they police this galaxy. Kinda silly if you think about it, how can you police the rim of the Milky Way?",
        "Are you sure you're not a rad'ion?",
        "Why does SNAZ OS not completely reveal the Chosen Constructs to us? Are there more than humans, rad'ion, and lunatix?",
        "I am good at my job. Totally. Trust me.",
        "The Head Department of the Umbral Coalition said not to panic about the center of the galaxy... What even is there to panic about?"
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
        "Hey! That's mine!"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "I'm calling the officers!"
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something's missing here...",
        "Where was that? I swore I put it here..."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "What's a shelter when it doesn't serve it's purpose?"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "This is my home!",
        "No, this is my home!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I'm about to head back to Xen-789.",
        "Fix this, or I'm leaving."
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "I'm heading back home."
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "Yes?",
        "How may I help you?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "Here's something for you."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Get them!"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
        "Help! I'm under attack!",
        "I'm just a civilian, please spare me!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "Don't worry, I'm getting help!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Go! Go! Go!",
        "Nothing stands a chance!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Phew, safe at last!",
        "I got out of there, alive!"
      ]
    }
  }
}
